/********** Template CSS **********/
:root {
  --primary: #00B87B;
  --secondary: #314355;
  --light: #F2F2F2;
  --dark: #2C3E50;
}
body {
  margin: 0;
  font-family: "Heebo", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background: #FFF6E5;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s ease-out, visibility 0s linear .5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity .5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

@media (max-width: 991.98px) {
  .sticky-lg-top.vh-100 {
    height: 100% !important;
  }
}

.fw-semi-bold {
  font-weight: 600;
}

.fw-medium {
  font-weight: 500;
}

.btn-square {
  width: 40px;
  height: 40px;
}

.btn-sm-square {
  width: 30px;
  height: 30px;
}

.btn-lg-square {
  width: 50px;
  height: 50px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn.btn-primary {
  color: #FFFFFF;
}

.typed-cursor {
  font-size: 25px;
  color: var(--light);
}

.back-to-top {
  position: fixed;
  display: none;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 1;
  font-size: 30px;
  right: 30px;
  bottom: 30px;
  transition: background 0.5s;
  z-index: 11;
}

.back-to-top i {
  color: var(--primary);
}

.back-to-top i:hover {
  color: var(--dark);
}

.back-to-top {
  -webkit-animation: action 1s infinite alternate;
  animation: action 1s infinite alternate;
}

@-webkit-keyframes action {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-15px);
  }
}

@keyframes action {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-15px);
  }
}

.title {
  position: relative;
}

.title::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  bottom: -4px;
  left: 0;
  border: 2px solid var(--light);
  border-radius: 10px;
}

.title::after {
  position: absolute;
  content: "";
  width: 50px;
  height: 2px;
  bottom: 0;
  left: 15px;
  border-radius: 2px;
  background: var(--light);
}

.portfolio-item .portfolio-btn {
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  font-size: 90px;
  background: rgba(44, 62, 80, .9);
  opacity: 0;
  transition: .5s;
}

.portfolio-item:hover .portfolio-btn {
  opacity: 1;
  width: calc(100% - 60px);
  height: calc(100% - 60px);
  top: 30px;
  left: 30px;
}

.portfolio-item i {
  opacity: 0;
  transition: .3s;
  transition-delay: .3s;
}

.portfolio-item:hover i {
  opacity: 1;
}

.container-bar{
	width: 100%;
	max-width: 50px;
	top: 2%;
  margin-top: -25rem;
}
.container-bar a{
	width: 50px;
	height: 50px;
  border-radius: 10%;
	line-height: 50px;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
	transition: all 500ms ease;
	color: #314355;
  margin: auto;
}
.container-bar a:hover{
	background: #0c0000;
}

.container-bar .fa-envelope{
	background: #FFF6E5;
}
.container-bar .fa-moon{
	background: #FFF6E5;
}
.container-bar .fa-github{
	background: #FFF6E5;
  margin-left: 3rem;
  margin-top: 1rem;
}
.container-bar .fa-linkedin-square{
	background: #FFF6E5;
}
.container-bar .fa-address-book{
	background: #FFF6E5;
}

.container-bar #title{
	position: absolute;
	background: #1c1c1c;
	padding: 0px 8px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 3px;
	font-size: 15px;
	top:12px; left: 0px;
	transition: all 500ms ease;
	opacity: 0;
	visibility: hidden;
	z-index: -1;
}
.container-bar a:hover #title{
	opacity: 1;
	visibility: visible;
	left: 64px;
}
.container-bar #title:after{
	position: absolute;
	content: '';
	border-left: 7px solid transparent;
	border-right: 6px solid #1c1c1c;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	right: 100%;
	top: 8px;
}
.btn-social{
	display: none;
}
.fa-address-card{
	cursor: pointer;
  transition: all 400ms ease-out;
	font-size: 55px;
  margin-top: 2rem;
	margin-bottom: 5px;
  box-shadow: 0px 1px 10px rgba(246, 245, 245, 0.3);
  margin-left: 2rem;
}

.icon-social{
	transition: all 0.4s;
	transform: translateX(0%);
}
#btn-social:checked ~ .icon-social{
	transform: translateX(-100%);
}  
  .contenedor{
    width: 100%;
    max-width: 50px;
    margin-top: 15rem;
    top: 3%;
  }
  .contenedor figure{
     display: inline;
      height: 250px;
      margin-right: 2rem;
      cursor: pointer;
  }
  .contenedor figure img{
      width: 100%;
      height: 100%;
      transition: all 400ms ease-out;
      will-change: transform;
  }
  .navegacion {
    position: absolute;
    display: inline-block;
    top: 0rem;
    left: 4rem;
    transition: all 400ms ease-out;
    opacity: 0;
    visibility: hidden;
}
.navegacion__enlace {
    font-family: var(--dark);
    color: var(--dark);
    font-size: 3rem;
}
.navegacion__enlace--activo,
.navegacion__enlace:hover {
    color: var(--light);
}
.contenedor figure:hover > .navegacion {
  opacity: 1;
  visibility: visible;
}
.contenedor figure:hover > .navegacion h3{
  margin-top: 70px;
  margin-bottom: 15px;
}
.contenedor figure:hover > img{
  transform: scale(1.3);
}
